@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI-Regular.woff2") format("woff2"), url("../fonts/SegoeUI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-mail:before {
  content: "\e901";
}

._icon-phone:before {
  content: "\e902";
}

._icon-point:before {
  content: "\e903";
}

._icon-s-faceboock:before {
  content: "\e904";
}

._icon-s-in:before {
  content: "\e905";
}

._icon-s-instagram:before {
  content: "\e906";
}

._icon-s-pinterest:before {
  content: "\e907";
}

._icon-s-twitter:before {
  content: "\e908";
}

._icon-youtube:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #666666;
  line-height: 1;
  font-family: SegoeUI;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: SegoeUI;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  background: url("../img/asked/icons/arrow.svg") 0 0 no-repeat;
  right: 0;
  top: 25%;
  height: 0.5625rem;
  width: 1.0125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

._spoller-init .spollers__title._spoller-active::after {
  rotate: 180deg;
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  background: #4579CB;
  border-radius: 0.5rem;
  font-weight: 700;
  line-height: 3.125;
  color: #fff;
  padding: 0 2.125rem;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button:hover {
  background: #365e9e;
}

.title {
  color: #474747;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.8461538462;
}

.want-rewers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.4;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6.125rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo a {
  font-weight: 700;
  line-height: 1.3333333333;
  color: #4579CB;
}

.menu-open .header__logo a {
  font-size: 1.75rem;
  color: #fff;
}

.header__separately {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  position: relative;
  z-index: 5;
  margin-right: 0.9375rem;
}

.menu-open .header__button {
  border: 1px solid #fff;
  background: transparent;
}

.menu__item {
  text-align: right;
}

.menu__link {
  font-weight: 700;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #4579CB;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 1.75rem 0rem 2.5rem 0rem;
  color: #fff;
  background: #4579CB;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.footer__private {
  max-width: 17.375rem;
}

.footer__company,
.footer__sociality,
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.private__title {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.8461538462;
}

.private__subtitle {
  line-height: 1.5;
}

.compani__list :not(:last-child) {
  margin-bottom: 0.5rem;
}

.compani__link {
  line-height: 1.5;
}

.compani__link:hover {
  text-decoration: underline;
}

.sociality__list :not(:last-child) {
  margin-bottom: 0.5rem;
}

.sociality__link {
  line-height: 1.5;
}

.sociality__link:hover {
  text-decoration: underline;
}

.contacts__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}

.contacts__contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  gap: 1.125rem;
}

.contacts__contact li a:hover {
  text-decoration: underline;
}

.contacts__contact ._icon-mail {
  font-size: 0.875rem;
}

.contacts__contact ._icon-mail a {
  font-size: 1rem;
}

.contacts__contact ._icon-point {
  font-size: 1.25rem;
}

.contacts__contact ._icon-point a {
  font-size: 1rem;
}

.contacts__socialiti {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  font-size: 1.3125rem;
}

.page {
  background: url("../img/world/bg.svg") center 13.125rem/contain no-repeat;
}

.world__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world__title {
  text-align: center;
  color: #474747;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.3928571429;
  max-width: 66.875rem;
}

.world__title span {
  color: #4579CB;
}

.world__subtitle {
  text-align: center;
  margin-top: 2.375rem;
  line-height: 1.5;
  max-width: 52.5rem;
}

.world__button {
  margin-top: 2.375rem;
}

.world__link {
  margin-top: 1.3125rem;
}

.world__link a {
  line-height: 1.5;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.world__link a::before {
  display: inline-block;
  margin-right: 0.6875rem;
  color: #EB5757;
}

.world__link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #CACACA;
  height: 0.0625rem;
  width: 7.1875rem;
}

.trusted__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trusted__subtitle {
  margin-top: 1.25rem;
  text-align: center;
  max-width: 53.125rem;
  line-height: 1.5;
}

.trusted__slider {
  max-width: 121.875rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.trusted__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.truste-pagination {
  margin-top: 1.25rem;
  height: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}

.truste-pagination .swiper-pagination-bullet {
  display: block;
  height: 1rem;
  width: 1rem;
  background: #E6E6E6;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.truste-pagination .swiper-pagination-bullet-active {
  height: 1.25rem;
  width: 1.25rem;
  background: #4579CB;
}

.want__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.want__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.want__cnt {
  max-width: 28.5rem;
}

.want__cnt img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.want__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 0.9375rem;
}

.want__title {
  margin-bottom: 1.5rem;
}

.want__text {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.socielity__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socielity__subtitle {
  margin-top: 1.5rem;
  margin-bottom: 3.1875rem;
  text-align: center;
  line-height: 1.5;
  max-width: 46.4375rem;
}

.socielity__warp {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
}

.socielity-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.9375rem 1.0625rem 1.25rem 1.0625rem;
}

.socielity-item__image {
  min-height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socielity-item__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0.8125rem 0;
}

.socielity-item__subtitle {
  line-height: 1.5;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.skylar__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.skylar__cnt {
  margin: 0 auto;
  max-width: 37.0625rem;
}

.skylar__cnt img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skylar__info {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.skylar__title {
  font-weight: 700;
  line-height: 1.5;
}

.skylar__subtitle {
  line-height: 1.5;
}

.skylar__slider {
  margin-top: 1.25rem;
}

.skylar__wrapper {
  margin-bottom: 2.125rem;
}

.skylar__slide {
  height: 100%;
}

.skylar__slide p {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
}

.skylar__slider-button-next,
.skylar__slider-button-prev {
  width: 4.375rem;
  height: 2.5rem;
  background: #4579CB;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.skylar__slider-button-prev {
  margin-right: 1.875rem;
  rotate: 180deg;
}

.swiper-button-disabled {
  background: #E6E6E6;
}

.love__title {
  text-align: center;
}

.love__subtitle {
  text-align: center;
  margin-top: 1.5625rem;
  margin-bottom: 3.6875rem;
  line-height: 1.5;
}

.love__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.love__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border-radius: 1.875rem;
  width: 100%;
}

.asked__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asked__title {
  text-align: center;
}

.asked__subtitle {
  max-width: 55.5rem;
  text-align: center;
  line-height: 1.5;
  margin-top: 1.5625rem;
}

.asked__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spollers__item {
  border: 1px solid #CACACA;
  border-radius: 10px;
  padding: 1.4375rem 2.625rem 1.4375rem 1.6875rem;
}

.spollers__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.spollers__body {
  padding: 0.625rem 0.625rem 0rem 0.625rem;
  font-size: 1rem;
  line-height: 1.5;
}

.platform__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform__title {
  text-align: center;
}

.platform__subtitle {
  max-width: 54.6875rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 1.5625rem;
}

.platform__slider {
  max-width: 121.875rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.platform__wrapper {
  padding-top: 0.625rem;
}

.platform__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__item {
  width: 10.625rem;
  height: 15rem;
  padding: 0.6875rem 0.25rem 1.25rem 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.3125rem 0 0.9375rem rgba(0, 0, 0, 0.05);
          box-shadow: 0.3125rem 0 0.9375rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.slide__img {
  width: 10.125rem;
  height: 6.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #4579CB;
  margin: 0.5625rem 0;
}

.slide__subtitle {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}

.platform__slider-pagination {
  margin-top: 1.25rem;
  height: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}

.platform__slider-pagination .swiper-pagination-bullet {
  display: block;
  height: 1rem;
  width: 1rem;
  background: #E6E6E6;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.platform__slider-pagination .swiper-pagination-bullet-active {
  height: 1.25rem;
  width: 1.25rem;
  background: #4579CB;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  text-align: center;
}

.subscribe__subtitle {
  text-align: center;
  max-width: 48.125rem;
  margin-top: 1.5625rem;
}

.subscribe__form {
  background: #E6E6E6;
  border-radius: 16px;
  padding: 0.9375rem 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.subscribe__input {
  background: #E6E6E6;
  padding: 0rem 0.625rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #666666;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }

  .skylar__container {
    max-width: 84rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .love__video {
    max-width: 35.625rem;
  }

  .asked__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .spollers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .subscribe__form {
    width: 46.125rem;
    max-height: 5rem;
  }

  .subscribe__input {
    height: 3.125rem;
    width: 60%;
  }
}

@media (min-width: 47.99875em) and (min-width: 73.125em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .love__video {
    max-height: 21.875rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 78.125em) {
  .skylar__position {
    padding-left: 6.875rem;
  }
}

@media (min-width: 73.125em) {
  .footer-title {
    margin-bottom: 1.9375rem;
  }

  .header__logo a {
    font-size: 2.25rem;
  }

  .header__button {
    margin-left: 2.25rem;
  }

  .header__button {
    padding-left: 2.125rem;
  }

  .header__button {
    padding-right: 2.125rem;
  }

  .private__title {
    margin-bottom: 1.9375rem;
  }

  .page__world {
    padding-top: 12.5rem;
  }

  .page__trusted {
    padding-top: 7.1875rem;
  }

  .page__want {
    padding-top: 7.5rem;
  }

  .page__socielity {
    padding-top: 7.5rem;
  }

  .page__skylar {
    padding-top: 7.5rem;
  }

  .page__love {
    padding-top: 7.5rem;
  }

  .page__asked {
    padding-top: 7.5rem;
  }

  .page__platform {
    padding-top: 7.5rem;
  }

  .page__subscribe {
    padding-top: 7.5rem;
  }

  .page__subscribe {
    padding-bottom: 5rem;
  }

  .world__title {
    font-size: 3.5rem;
  }

  .trusted__subtitle {
    margin-bottom: 2.875rem;
  }

  .socielity__subtitle {
    margin-bottom: 3.1875rem;
  }

  .love__subtitle {
    margin-bottom: 3.6875rem;
  }

  .asked__subtitle {
    margin-bottom: 3.6875rem;
  }

  .platform__subtitle {
    margin-bottom: 2.625rem;
  }

  .subscribe__subtitle {
    margin-bottom: 2.0625rem;
  }
}

@media (min-width: 48em) {
  .love__video {
    max-height: 21.875rem;
  }

  .asked__block {
    gap: 1.875rem;
  }

  .spollers {
    gap: 1.875rem;
  }
}

@media (min-width: 75em) {
  .header__button {
    line-height: 3.125rem;
  }
}

@media (min-width: 84em) {
  .skylar__wrapper {
    margin-bottom: 2.125rem;
  }
}

@media (max-width: 48em) {
  .footer-title {
    margin-bottom: 0.625rem;
  }

  .header__logo a {
    font-size: 1.75rem;
  }

  .header__button {
    margin-left: 0.625rem;
  }

  .header__button {
    padding-left: 0.9375rem;
  }

  .header__button {
    padding-right: 0.9375rem;
  }

  .private__title {
    margin-bottom: 0.625rem;
  }

  .page__world {
    padding-top: 6.25rem;
  }

  .page__trusted {
    padding-top: 3.125rem;
  }

  .page__want {
    padding-top: 3.125rem;
  }

  .page__socielity {
    padding-top: 3.125rem;
  }

  .page__skylar {
    padding-top: 3.125rem;
  }

  .page__love {
    padding-top: 3.125rem;
  }

  .page__asked {
    padding-top: 3.125rem;
  }

  .page__platform {
    padding-top: 3.125rem;
  }

  .page__subscribe {
    padding-top: 3.125rem;
  }

  .page__subscribe {
    padding-bottom: 3.125rem;
  }

  .world__title {
    font-size: 1.875rem;
  }

  .trusted__subtitle {
    margin-bottom: 1.25rem;
  }

  .socielity__subtitle {
    margin-bottom: 1.25rem;
  }

  .skylar__wrapper {
    margin-bottom: 1.25rem;
  }

  .love__subtitle {
    margin-bottom: 1.5625rem;
  }

  .asked__subtitle {
    margin-bottom: 1.5625rem;
  }

  .platform__subtitle {
    margin-bottom: 1.5625rem;
  }

  .subscribe__subtitle {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 20em) {
  .header__button {
    line-height: 1.5rem;
  }

  .love__video {
    max-height: 12.5rem;
  }

  .asked__block {
    gap: 0.625rem;
  }

  .spollers {
    gap: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .title {
    line-height: 1.1538461538;
  }

  .header__container {
    min-height: 3.75rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #4579CB;
    padding: 4.375rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 3.75rem;
    background: #8ba0c0;
    z-index: 10;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page {
    background: url("../img/world/bg.svg") center 5rem/contain no-repeat;
  }

  .page__world {
    padding-top: 5rem;
  }

  .want__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .want__image {
    margin-top: 1.875rem;
  }

  .skylar__image {
    margin-bottom: 1.25rem;
  }

  .skylar__slide p {
    font-size: 1rem;
  }

  .love__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spollers__item {
    padding: 0.9375rem;
  }

  .subscribe__form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__input {
    width: 100%;
    height: 2.5rem;
    text-align: center;
  }

  .subscribe__button {
    width: 100%;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 48em) and (max-width: 73.125em) {
@supports (margin-bottom: clamp( 0.625rem , -1.8824626866rem  +  5.223880597vw , 1.9375rem )) {
    .footer-title {
      margin-bottom: clamp( 0.625rem , -1.8824626866rem  +  5.223880597vw , 1.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -1.8824626866rem  +  5.223880597vw , 1.9375rem )) {
    .footer-title {
      margin-bottom: calc(0.625rem + 1.3125 * (100vw - 48rem) / 25.125);
    }
}

@supports (font-size: clamp( 1.75rem , 0.7947761194rem  +  1.9900497512vw , 2.25rem )) {
    .header__logo a {
      font-size: clamp( 1.75rem , 0.7947761194rem  +  1.9900497512vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.7947761194rem  +  1.9900497512vw , 2.25rem )) {
    .header__logo a {
      font-size: calc(1.75rem + 0.5 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-left: clamp( 0.625rem , -2.4794776119rem  +  6.4676616915vw , 2.25rem )) {
    .header__button {
      margin-left: clamp( 0.625rem , -2.4794776119rem  +  6.4676616915vw , 2.25rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -2.4794776119rem  +  6.4676616915vw , 2.25rem )) {
    .header__button {
      margin-left: calc(0.625rem + 1.625 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.3311567164rem  +  4.7263681592vw , 2.125rem )) {
    .header__button {
      padding-left: clamp( 0.9375rem , -1.3311567164rem  +  4.7263681592vw , 2.125rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.3311567164rem  +  4.7263681592vw , 2.125rem )) {
    .header__button {
      padding-left: calc(0.9375rem + 1.1875 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.3311567164rem  +  4.7263681592vw , 2.125rem )) {
    .header__button {
      padding-right: clamp( 0.9375rem , -1.3311567164rem  +  4.7263681592vw , 2.125rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.3311567164rem  +  4.7263681592vw , 2.125rem )) {
    .header__button {
      padding-right: calc(0.9375rem + 1.1875 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -1.8824626866rem  +  5.223880597vw , 1.9375rem )) {
    .private__title {
      margin-bottom: clamp( 0.625rem , -1.8824626866rem  +  5.223880597vw , 1.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -1.8824626866rem  +  5.223880597vw , 1.9375rem )) {
    .private__title {
      margin-bottom: calc(0.625rem + 1.3125 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 6.25rem , -5.6902985075rem  +  24.8756218905vw , 12.5rem )) {
    .page__world {
      padding-top: clamp( 6.25rem , -5.6902985075rem  +  24.8756218905vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , -5.6902985075rem  +  24.8756218905vw , 12.5rem )) {
    .page__world {
      padding-top: calc(6.25rem + 6.25 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -4.6361940299rem  +  16.1691542289vw , 7.1875rem )) {
    .page__trusted {
      padding-top: clamp( 3.125rem , -4.6361940299rem  +  16.1691542289vw , 7.1875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -4.6361940299rem  +  16.1691542289vw , 7.1875rem )) {
    .page__trusted {
      padding-top: calc(3.125rem + 4.0625 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__want {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__want {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__socielity {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__socielity {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__skylar {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__skylar {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__love {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__love {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__asked {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__asked {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__platform {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__platform {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__subscribe {
      padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -5.2332089552rem  +  17.4129353234vw , 7.5rem )) {
    .page__subscribe {
      padding-top: calc(3.125rem + 4.375 * (100vw - 48rem) / 25.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -0.4570895522rem  +  7.4626865672vw , 5rem )) {
    .page__subscribe {
      padding-bottom: clamp( 3.125rem , -0.4570895522rem  +  7.4626865672vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -0.4570895522rem  +  7.4626865672vw , 5rem )) {
    .page__subscribe {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 48rem) / 25.125);
    }
}

@supports (font-size: clamp( 1.875rem , -1.2294776119rem  +  6.4676616915vw , 3.5rem )) {
    .world__title {
      font-size: clamp( 1.875rem , -1.2294776119rem  +  6.4676616915vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , -1.2294776119rem  +  6.4676616915vw , 3.5rem )) {
    .world__title {
      font-size: calc(1.875rem + 1.625 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.8544776119rem  +  6.4676616915vw , 2.875rem )) {
    .trusted__subtitle {
      margin-bottom: clamp( 1.25rem , -1.8544776119rem  +  6.4676616915vw , 2.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.8544776119rem  +  6.4676616915vw , 2.875rem )) {
    .trusted__subtitle {
      margin-bottom: calc(1.25rem + 1.625 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -2.4514925373rem  +  7.7114427861vw , 3.1875rem )) {
    .socielity__subtitle {
      margin-bottom: clamp( 1.25rem , -2.4514925373rem  +  7.7114427861vw , 3.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4514925373rem  +  7.7114427861vw , 3.1875rem )) {
    .socielity__subtitle {
      margin-bottom: calc(1.25rem + 1.9375 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -2.4972014925rem  +  8.4577114428vw , 3.6875rem )) {
    .love__subtitle {
      margin-bottom: clamp( 1.5625rem , -2.4972014925rem  +  8.4577114428vw , 3.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -2.4972014925rem  +  8.4577114428vw , 3.6875rem )) {
    .love__subtitle {
      margin-bottom: calc(1.5625rem + 2.125 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -2.4972014925rem  +  8.4577114428vw , 3.6875rem )) {
    .asked__subtitle {
      margin-bottom: clamp( 1.5625rem , -2.4972014925rem  +  8.4577114428vw , 3.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -2.4972014925rem  +  8.4577114428vw , 3.6875rem )) {
    .asked__subtitle {
      margin-bottom: calc(1.5625rem + 2.125 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -0.4673507463rem  +  4.2288557214vw , 2.625rem )) {
    .platform__subtitle {
      margin-bottom: clamp( 1.5625rem , -0.4673507463rem  +  4.2288557214vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -0.4673507463rem  +  4.2288557214vw , 2.625rem )) {
    .platform__subtitle {
      margin-bottom: calc(1.5625rem + 1.0625 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.6072761194rem  +  1.9900497512vw , 2.0625rem )) {
    .subscribe__subtitle {
      margin-bottom: clamp( 1.5625rem , 0.6072761194rem  +  1.9900497512vw , 2.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.6072761194rem  +  1.9900497512vw , 2.0625rem )) {
    .subscribe__subtitle {
      margin-bottom: calc(1.5625rem + 0.5 * (100vw - 48rem) / 25.125);
    }
}
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (line-height: clamp( 1.5rem , 0.9090909091rem  +  2.9545454545vw , 3.125rem )) {
    .header__button {
      line-height: clamp( 1.5rem , 0.9090909091rem  +  2.9545454545vw , 3.125rem );
    }
}

@supports not (line-height: clamp( 1.5rem , 0.9090909091rem  +  2.9545454545vw , 3.125rem )) {
    .header__button {
      line-height: calc(1.5rem + 1.625 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 73.125em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
         -moz-column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
              column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -2.9570895522rem  +  7.4626865672vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 25.125);
         -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 25.125);
              column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 25.125);
    }
}

@supports (max-height: clamp( 12.5rem , -5.4104477612rem  +  37.3134328358vw , 21.875rem )) {
    .love__video {
      max-height: clamp( 12.5rem , -5.4104477612rem  +  37.3134328358vw , 21.875rem );
    }
}

@supports not (max-height: clamp( 12.5rem , -5.4104477612rem  +  37.3134328358vw , 21.875rem )) {
    .love__video {
      max-height: calc(12.5rem + 9.375 * (100vw - 48rem) / 25.125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .skylar__position {
    padding-left: 1.25rem;
  }

  .love__video {
    max-height: 12.5rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 78.125em) {
@supports (padding-left: clamp( 1.25rem , -7.7126556017rem  +  18.6721991701vw , 6.875rem )) {
    .skylar__position {
      padding-left: clamp( 1.25rem , -7.7126556017rem  +  18.6721991701vw , 6.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -7.7126556017rem  +  18.6721991701vw , 6.875rem )) {
    .skylar__position {
      padding-left: calc(1.25rem + 5.625 * (100vw - 48rem) / 30.125);
    }
}
}

@media (min-width: 48em) and (max-width: 84em) {
@supports (margin-bottom: clamp( 1.25rem , 0.0833333333rem  +  2.4305555556vw , 2.125rem )) {
    .skylar__wrapper {
      margin-bottom: clamp( 1.25rem , 0.0833333333rem  +  2.4305555556vw , 2.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0833333333rem  +  2.4305555556vw , 2.125rem )) {
    .skylar__wrapper {
      margin-bottom: calc(1.25rem + 0.875 * (100vw - 48rem) / 36);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (max-height: clamp( 12.5rem , 5.8035714286rem  +  33.4821428571vw , 21.875rem )) {
    .love__video {
      max-height: clamp( 12.5rem , 5.8035714286rem  +  33.4821428571vw , 21.875rem );
    }
}

@supports not (max-height: clamp( 12.5rem , 5.8035714286rem  +  33.4821428571vw , 21.875rem )) {
    .love__video {
      max-height: calc(12.5rem + 9.375 * (100vw - 20rem) / 28);
    }
}

@supports (gap: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .asked__block {
      gap: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .asked__block {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 28);
    }
}

@supports (gap: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .spollers {
      gap: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .spollers {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 28);
    }
}
}

@media (any-hover: hover) {
  .world__link a:hover {
    color: #EB5757;
  }
}